<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login | Aloysians Portal</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <!-- Link external CSS -->
  </head>

  <body>
    <div class="login-container">
      <!-- Logo -->
      <img th:src="@{/images/logo.png}" alt="Logo" class="login-logo" />

      <h3>Welcome Back, Aloysians!</h3>
      <p>Please log in to continue.</p>

      <!-- Error message -->
      <div th:if="${param.error}" class="alert alert-danger">
        <strong>Login Failed!</strong>
        <span
          th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}"
          th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"
        ></span>
      </div>

      <!-- Logout message -->
      <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out successfully.
      </div>

      <!-- Login Form -->
      <form th:action="@{/login}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter your username"
            required
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter your password"
            required
          />
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="remember-me" name="remember-me" />
              Remember Me
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-login">Sign In</button>
      </form>
    </div>

    <!-- Bootstrap & jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
